<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Editting Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

<p>Title</p>
<%= f.text_field :title %>
    
<p>Opinion</p>
<%= f.text_field :body %>
    
<%= f.submit 'Update Book' %>
    
<% end %>

<%= link_to book_path do %>Show<% end %> | <%= link_to books_path do %>Back<% end %>
