<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <h1>Editing Book</h1>

      <%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

        <div class="field">
          <p>Title</p>
          <%= f.text_field :title, class:"form-control" %>
        </div>

        <div class="field">
          <p>Opinion</p>
          <%= f.text_area :body, class:"form-control mb-3" %>
        </div>
         
        <div class="field">
          <button class="btn btn-success">
            Update Book
          </button>
        </div>
          
      <% end %>

      <%= link_to book_path do %>Show<% end %> | <%= link_to books_path do %>Back<% end %>

    </div>
  </div>
</div>
